<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8"/>
    </head>
    <body>
        <form name="formulario" method="POST" action="../../control/controlLogin.php">
            Email:<br>
            <input type="email" name="email" placeholder="Digite aqui" required/>
            <br>
            Senha:<br>
            <input type="password" name="senha" placecholder="Digite a sua senha" required/>
            <br>
            <input type="submit" name="confirma" value="Confirmar"/>
            <input type="reset" name="cancelar" value="Cancelar"/>
        </form>
    </body>
</html>