.container{
    border:1px solid #ccc;
    margin:2% auto;
}
.nav-item{
    margin-left:2%;
}
/* EDIÇÃO DO FORMULÁRIO */
.container h4{
    font-weight: 300;
    margin-top:1%;
    
}
.container .bord{
    border-bottom: 1px solid #ccc;
    width: 30%;
    margin-bottom:3%;
}
.container form{
    margin:0 auto;
}
.form-group input[type="text"], input[type="number"], .form-control{
    width: 100%;
}
.buttons{
    margin:0 auto;
    text-align: center;
}
#btn-reset{
    border:1px solid #ccc;
}
/* FIM EDIÇÃO FORMULÁRIO */
.erro{
    position: relative;
    top:10px;
    border:1px solid rgb(223, 108, 108);
    padding:6px;
    box-shadow: 0 0 10px #00000070;
    background: rgb(223, 108, 108);
    color:#eee;
    width: 30%;
    margin:0 auto;
    text-align: center;
}
.barra{
    margin-top: 1%;
    text-align: center;
    background-color: #333;
    color:#ccc;
}
