
 /* MENU LATERAL */
 
.dashboard{
    display: flex;
    flex-wrap: wrap;
}
.dropdown-toggle{
    width: 100%;
 }
 
 /* FIM MENU LATERAL */
.container{
    border:1px solid #ccc;
    background: #f4f4f4;

}
.container h4{
    font-weight: 300;
    margin-top:1%;
    
}
.nav-item{
    margin-left:2%;
}
.container .bord{
    border-bottom: 1px solid #ccc;
    width: 30%;
    margin-bottom:3%;
}
.input-group{
    margin:0 auto;
    text-align: center;
    /* border:1px solid red; */
    
}
.table-hover{
    margin:0 auto;
    text-align: center;
}
.search{
    margin:0 auto;
    width: 40%;
    border:0;
    margin-bottom: 3%;
}
#search-table{
    width: 80%;
    border:0;
    border-bottom: 1px solid #aaa;
    padding:5px;
    background:#F4F4F4;
}
.fa-search{
    cursor: pointer;
    font-size: 18px;
}
.barra{
    margin-top: 1%;
    text-align: center;
    background-color: #333;
    color:#ccc;
}