 /* MENU LATERAL */
 
 .dashboard{
    display: flex;
    flex-wrap: wrap;
}
.dropdown-toggle{
    width: 100%;
 }
 
 /* FIM MENU LATERAL */
.container{
    border:1px solid #ccc;
    background: #f4f4f4;

}
.nav-item{
    margin-left:2%;
}
/* EDIÇÃO DO FORMULÁRIO */
.container h4{
    font-weight: 300;
    margin-top:1%;
    
}
.container .bord{
    border-bottom: 1px solid #ccc;
    width: 30%;
    margin-bottom:3%;
}
.container form{
    margin:0 auto;
}
.form-group input[type="text"], input[type="number"], .form-control{
    width: 100%;
}
.buttons{
    margin:0 auto;
    text-align: center;
}
#btn-reset{
    border:1px solid #ccc;
}
/* FIM EDIÇÃO FORMULÁRIO */


.erro{
    position: relative;
    top:10px;
    border:1px solid rgb(221, 87, 87);
    padding:6px;
    box-shadow: 0 0 10px #00000070;
    background: rgb(221, 87, 87);
    color:#eee;
    width: 60%;
    margin:0 auto;
    text-align: center;
}
.barra{
    margin-top: 1%;
    text-align: center;
    background-color: #333;
    color:#ccc;
}
