<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ensalamento</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Sistema de reserva de salas</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(página atual)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="login/login.html">Login</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container">
            <nav class="navbar navbar-light bg-body mt-2 menu-options">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Professor</label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect01">
                        <option selected>Escolher...</option>
                        <option value="1">Bruno Silva</option>
                        <option value="2">Thiago Souza</option>
                        <option value="3">Eliezér Silva</option>
                    </select>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Salas</label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect01">
                        <option selected>Escolher...</option>
                        <option value="1">Laboratório 1</option>
                        <option value="2">Laboratório 2</option>
                        <option value="3">Sala CIEP 15</option>
                    </select>
                </div>

                <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Salas</label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01">
                            <option selected>Escolher...</option>
                            <option value="1">Laboratório 1</option>
                            <option value="2">Laboratório 2</option>
                            <option value="3">Sala CIEP 15</option>
                        </select>
                    </div>
            </nav>
            <div class="section">
                    <div id="carouselExampleControls" class="carousel slide" >
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <div class="alert alert-dark menu-sala" role="alert">
                                    LABORATÓRIO INFO 5
                                </div>
                              </div>
                              <div class="carousel-item">
                                    <div class="alert alert-dark menu-sala" role="alert">
                                            LABORATÓRIO INFO 4
                                        </div>                  </div>
                              <div class="carousel-item">
                                    <div class="alert alert-dark menu-sala" role="alert">
                                            LABORATÓRIO INFO 3
                                        </div>                  </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="sr-only">Anterior</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="sr-only">Próximo</span>
                            </a>
                        </div>
                  <div class="section-calendar">
                        <table class="table table-hover">
                                <thead>
                                  <tr>
                                    <th scope="col">Horário - Tempo </th>
                                    <th scope="col">Segunda-Feira<br><div class="date">26/03/19</div></th>
                                    <th scope="col">Terça-Feira<br><div class="date">27/03/19</div></th>
                                    <th scope="col">Quarta-Feira<br><div class="date">28/03/19</div></th>
                                    <th scope="col">Quinta-Feira<br><div class="date">29/03/19</div></th>
                                    <th scope="col">Sexta-Feira<br><div class="date">30/03/19</div></th>
                                    <th scope="col">Sábado<br><div class="date">31/03/19</div></th>
                                  </tr>
                                </thead>
                                <tbody >
                                  <tr>
                                    <th scope="row">7:30 - 8:20</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalExemplo1">
                                      Ocupado
                                    </button>       
                                    </td>
                                  </tr>
                                  <tr>
                                    <th scope="row">8:20 - 9:10</th>
                                    <td>
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo5">
                                      Reservar
                                    </button> 
                                    </td>
                                    <td>
                                    </td>
                                    <td>    
                                    </td>
                                    <td>
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo5">
                                      Reservar
                                    </button>
                                    </td>
                                    <td>
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo5">
                                      Reservar
                                    </button>
                                    </td>
                                    <td>
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalExemplo1">
                                      Ocupado
                                    </button>
                                    </td>
                                  </tr>
                                  <tr>
                                    <th scope="row">9:20 - 10:00</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo5">
                                      Reservar
                                    </button>
                                    </td>
                                    <td></td>
                                    <td>
                                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalExemplo1">
                                              Ocupado
                                        </button>    
                                    </td>
                                  </tr>
                                  <tr>
                                    <th scope="row">10:00 - 10:50</th>
                                    <td></td>
                                    <td></td>
                                    <td>
                                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalExemplo1">
                                                    Ocupado
                                                  </button>
                                            
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <th scope="row">10:50 - 11:40</th>
                                    <td></td>
                                    <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo5">
                                            Reservar
                                          </button>
                                          
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <th scope="row">11:40 - 12:30</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo5">
                                                    Reservar
                                            </button>
                                    </td>
                                    <td></td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <th scope="row">12:30 - 13:20</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <th scope="row">13:20 - 14:10</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <th scope="row">14:10 - 15:00</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">15:00 - 15:50</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">15:50 - 16:40</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">16:40 - 17:30</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">17:30 - 18:20</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">18:20 - 19:10</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">19:10 - 20:00</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">20:00 - 20:50</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">20:50 - 21:40</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">21:40 - 22:30</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </div>
                              </table>
                  </div>
            </div>
        </div>
        <div class="barra">Desenvolvido por Fábrica de Software CEFET-RJ</div>
        <!-- Modal  RESERVAR-->
        <div class="modal fade" id="modalExemplo5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Reserva de Sala</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                            <form>
                                    <div class="form-row">
                                      <div class="form-group col-md-6">
                                        <label for="inputEmail4">Email</label>
                                        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                                      </div>
                                      <div class="form-group col-md-6">
                                        <label for="inputPassword4">Senha</label>
                                        <input type="password" class="form-control" id="inputPassword4" placeholder="Senha">
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label for="inputAddress">Endereço</label>
                                      <input type="text" class="form-control" id="inputAddress" placeholder="Rua dos Bobos, nº 0">
                                    </div>
                                    <div class="form-group">
                                      <label for="inputAddress2">Endereço 2</label>
                                      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartamento, hotel, casa, etc.">
                                    </div>
                                    <div class="form-row">
                                      <div class="form-group col-md-6">
                                        <label for="inputCity">Cidade</label>
                                        <input type="text" class="form-control" id="inputCity">
                                      </div>
                                      <div class="form-group col-md-4">
                                        <label for="inputEstado">Estado</label>
                                        <select id="inputEstado" class="form-control">
                                          <option selected>Escolher...</option>
                                          <option>...</option>
                                        </select>
                                      </div>
                                      <div class="form-group col-md-2">
                                        <label for="inputCEP">CEP</label>
                                        <input type="text" class="form-control" id="inputCEP">
                                      </div>
                                    </div>
            
                                  </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                      <button type="button" class="btn btn-primary">Salvar mudanças</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- FIM MODAL RESERVAR -->
              <!-- Modal OCUPADO-->
              <div class="modal fade" id="modalExemplo1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Reserva de Sala</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body m-auto">
                          <table>
                              <tr>
                                  <th scope="row">Motivo:</th>
                                  <td style="padding:10px;">Monitoria de Prog. Estruturada</td>
                                  
                              </tr>
                              <tr>
                                <th scope="row">Professor(a):</th>
                                <td style="padding:10px;"> Rodrigo Reis G</td>
                              </tr>
                          </table>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                          <button type="button" class="btn btn-primary">Salvar mudanças</button>
                        </div>
                      </div>
                    </div>
                  </div>
</body>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="bootstrap/js/bootstrap.js"></script>
<script>
    $(document).ready(function(){
        $('.carousel').carousel({
            pause: true,
            interval: false
        });
    })
</script>
</html>