<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="css/login.css">
    </head>
    <body>
        <div class="container">
            <h2>Login</h2>
            <!-- <div class="erro">Dados inseridos Incorretos!</div> -->
            <form class="form" name="formulario" method="POST" action="../control/controlLogin.php">
                <input type="email" name="email" placeholder="Email" required/>
                <input type="password" name="senha" required placeholder="Senha">
                <input type="submit" name="confirma" value="Confirmar"/>
                <input type="reset" name="cancelar" value="Cancelar"/>
            </form>
        </div>
       
    </body>
</html>