<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Enslamento</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/lista-user.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="home.html">Sistema de reserva de salas</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
                    <ul class="navbar-nav ml-auto mr-5">
                        <li class="nav-item active">
                            <a class="nav-link" href="home.html">Home <span class="sr-only">(página atual)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDrop-sala" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Salas
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDrop-sala">
                                <a class="dropdown-item" href="registro-sala.html">Registrar Sala</a>
                                <a class="dropdown-item" href="lista-sala.html">Listar Salas</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDrop-sala" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Usuários
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDrop-sala">
                                <a class="dropdown-item" href="registro-user.html">Registrar Usuário</a>
                                <a class="dropdown-item" href="lista-user.html">Listar Usuários</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Login</a>
                        </li>
                    </ul>
                </div>
            </nav>
    </header>
        <div class="container">
            <h4>Lista de Usuários</h4>
            <div class="bord"></div>
            <div class="input-group">
                    <div class="search">
                            <input type="text" name="search-sala" id="search-sala" placeholder=" Buscar Usuários">
                            <label for="search-sala" onclick="ola()" id="search-sala-label"><i class="fas fa-search"></i></label>
                    </div>
            </div>
            
            <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Permissão</th>
                        <th scope="col">Função</th>
                        <th scope="col">Opções</th>
                      </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>João Lucas</td>
                        <td>joao.frhb@gmail.com</td>
                        <td>Administrador</td>
                        <td>Secretário</td>
                        <td>
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalEdit">Editar</button>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalExcluir">Excluir</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Maria de Lourdes</td>
                        <td>maria.silva@gmail.com</td>
                        <td>Usuário</td>
                        <td>Secretária</td>
                        <td>
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalEdit">Editar</button>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalExcluir">Excluir</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Paulo Silva</td>
                        <td>paulo.silva@hotmail.com</td>
                        <td>Usuário</td>
                        <td>Professor</td>
                        <td>
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalEdit">Editar</button>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalExcluir">Excluir</button>
                        </td>
                    </tr>
                    <tr>
                        <td>João Lucas</td>
                        <td>joao.frhb@gmail.com</td>
                        <td>Administrador</td>
                        <td>Secretário</td>
                        <td>
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalEdit">Editar</button>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalExcluir">Excluir</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Maria de Lourdes</td>
                        <td>maria.silva@gmail.com</td>
                        <td>Usuário</td>
                        <td>Secretária</td>
                        <td>
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalEdit">Editar</button>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalExcluir">Excluir</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Paulo Silva</td>
                        <td>paulo.silva@hotmail.com</td>
                        <td>Usuário</td>
                        <td>Professor</td>
                        <td>
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalEdit">Editar</button>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalExcluir">Excluir</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Maria de Lourdes</td>
                        <td>maria.silva@gmail.com</td>
                        <td>Usuário</td>
                        <td>Secretária</td>
                        <td>
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalEdit">Editar</button>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalExcluir">Excluir</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Paulo Silva</td>
                        <td>paulo.silva@hotmail.com</td>
                        <td>Usuário</td>
                        <td>Professor</td>
                        <td>
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalEdit">Editar</button>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalExcluir">Excluir</button>
                        </td>
                    </tr>
                    </tbody>
            </table>
        </div>
        <div class="barra">Desenvolvido por Fábrica de Software CEFET-RJ</div>
        <!-- MODAL VER RECURSOS -->
            <div class="modal fade" id="modalVerRecursos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Recursos da Sala</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        <!-- <button type="button" id="submit-recurso" class="btn btn-primary">Inserir Recurso</button> -->
                    </div>
                    </div>
                </div>
            </div>
        <!-- FIM MODAL VER RECURSOS -->

        <!-- MODAL EDITAR -->
            <div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Editar Sala</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- <div class="erro">Dados inseridos Incorretos!</div> -->
                            <form method="POST" action="#">
                                <div class="form-group">
                                    <label for="nome-user">Nome</label>
                                    <input type="text" class="form-control" id="nome-user" name="nome-user">
                                </div>
                                <div class="form-group">
                                    <label for="email-user">Email</label>
                                    <input type="email" class="form-control" id="email-user" name="email-user">
                                </div>
                                <div class="form-group">
                                    <label for="permissao-user">Permissão</label>
                                    <input type="text" class="form-control" id="permissao-user" name="permissao-user">
                                </div>
                                <div class="form-group">
                                    <label for="funcao-user">Função</label>
                                    <input type="text" class="form-control" id="funcao-user" name="funcao-user">
                                </div>
                                <div class="form-group">
                                    <label for="senha-user">Senha</label>
                                    <input type="password" class="form-control" id="senha-user" name="senha-user" placeholder="Senha">
                                </div>
                                <div class="form-group">
                                    <label for="confirm-user">Confirme a Senha</label>
                                    <input type="password" class="form-control" id="confirm-user" name="confirm-user"placeholder="Senha">
                                </div>
                                </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                            <button type="button" id="submit-recurso" class="btn btn-primary">Salvar Registro</button>
                        </div>
                        </div>
                    </div>
            </div>
        <!-- FIM MODAL EDITAR -->

        <!-- MODAL EXCLUI -->
        <div class="modal fade" id="modalExcluir" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirmar Exclusão</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        <button type="button" id="submit-recurso" class="btn btn-primary">Confirmar</button>
                    </div>
                    </div>
                </div>
            </div>
</body>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="bootstrap/js/bootstrap.js"></script>
<script>
    function ola(){
        console.log("Ola!");    
    }
</script>
</html>