<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Enslamento</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/registro-sala.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Sistema de reserva de salas</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(página atual)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="login/login.html">Login</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h4>Registro de Salas</h4>
        <div class="bord"></div>
        <form>
            <div class="form-group">
              <label for="nome-sala">Nome</label>
              <input type="text" class="form-control" id="nome-sala" name="nome-sala">
            </div>
            <div class="form-group">
              <label for="capacidade">Capacidade</label>
              <input type="number" class="form-control" id="capacidade" name="capacidade">
            </div>
            <div class="form-group">
              <label for="local">Local</label>
              <input type="text" class="form-control" id="local" name="local" placeholder="Campus I, Campus II...">
            </div>
            <div class="form-group">
                <label for="tipo">Tipo</label>
                <select class="form-control" id="tipo">
                  <option selected>Escolher...</option>
                  <option>Laboratório</option>
                  <option>Sala Normal</option>
                </select>
            </div>
            
            <label for="#">Recursos</label><br>
            <div class="form-group" id="recursos">
                <div class="col" id="col1">
                    <div class="chiller_cb">
                        <input id="check-internet" name="check-internet" type="checkbox">
                        <label for="check-internet">Acesso à Internet</label>
                        <span></span>
                    </div>
                    <div class="chiller_cb">
                        <input id="check-quadro" type="checkbox">
                        <label for="check-quadro">Quadro Branco</label>
                        <span></span>
                    </div>
                    <div class="chiller_cb">
                        <input id="check-projetor" type="checkbox">
                        <label for="check-projetor">Projetor</label>
                        <span></span>
                    </div>
                    <div class="chiller_cb">
                        <input id="check-computador" type="checkbox">
                        <label for="check-computador">Computador</label>
                        <span></span>
                    </div>
                </div>
                <div class="col">
                        
                </div>
                <div class="col">
                        
                </div>
                <div class="col">
                        
                </div>
                <!-- <button type="button" class="btn btn-primary mt-2" id="btn-add-recurso"data-toggle="modal" data-target="#modalAddRecurso">
                    Adicionar Recurso
                </button> -->
            </div>
            <div class="buttons">
                    <button type="submit" class="btn btn-primary mb-2" id="btn-save">Salvar</button>
                    <button type="reset" class="btn btn-light mb-2" id="btn-reset">Cancelar</button>
            </div>
            
          </form>

    </div>
    <!-- MODAIS -->
    <!-- <div class="modal fade" id="modalAddRecurso" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Adicionar Recurso à Sala</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <label for="nome-recurso">Recurso: </label>
                       <input type="text" id="nome-recurso" name="nome-recurso">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                  <button type="button" id="submit-recurso" onclick="addRecurso()" class="btn btn-primary">Inserir Recurso</button>
                </div>
              </div>
            </div>
          </div> -->
    <!-- FIM MODAIS -->
    <div class="barra">Desenvolvido por Fábrica de Software CEFET-RJ</div>
</body>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="bootstrap/js/bootstrap.js"></script>
<script>

function addRecurso(){
    var name_recurso = document.getElementById("nome-recurso").value;
    console.log(name_recurso);
    var col = document.getElementById("col1");
    col.innerHTML += '<div class="chiller_cb"><input id="check-computador" type="checkbox"><label for="check-computador">'+name_recurso+'</label><span></span></div>';
                        
        
}

</script>
</html>