<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Enslamento</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/registro-atv.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="home.html">Sistema de reserva de salas</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
                    <ul class="navbar-nav ml-auto mr-5">
                        
                        <li class="nav-item">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="drop-sala" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Salas
                                </button>
                                <div class="dropdown-menu" aria-labelledby="drop-sala">
                                  <a class="dropdown-item" href="registro-sala.html">Registrar Sala</a>
                                  <a class="dropdown-item" href="lista-sala.html  ">Listar Sala</a>
                                </div>
                              </div>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="drop-user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Usuários
                                </button>
                                <div class="dropdown-menu" aria-labelledby="drop-user">
                                  <a class="dropdown-item" href="registro-user.html">Registrar Sala</a>
                                  <a class="dropdown-item" href="lista-user.html  ">Listar Sala</a>
                                </div>
                              </div>
                        </li>
                        <li class="nav-item dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="drop-atv" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Atividades
                              </button>
                            <div class="dropdown-menu" aria-labelledby="drop-atv">
                                <a class="dropdown-item" href="registro-atividade.html">Registrar Atividade</a>
                                <a class="dropdown-item" href="lista-atividade.html">Listar Atividade</a>
                            </div>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="home.html">Home <span class="sr-only">(página atual)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Login</a>
                        </li>
                    </ul>
                </div>
            </nav>
    </header>
    <div class="container">
        <h4>Registro de Atividades</h4>
        <div class="bord"></div>
        <!-- <div class="erro">Dados inseridos Incorretos!</div> -->
        <form method="POST" action="#">
            <div class="form-group">
              <label for="nome-user">Nome</label>
              <input type="text" class="form-control" id="nome-user" name="nome-user">
            </div>
            <div class="form-group">
              <label for="email-user">Tipo</label>
              <input type="text" class="form-control" id="email-user" name="email-user">
            </div>
            <label for="email-user">Curso Associado</label>
            <div class="input-group mb-3">
                
                <select class="custom-select">
                    <option selected>Escolher...</option>
                    <option value="1">Engenharia Elétrica</option>
                    <option value="2">Física</option>
                    <option value="3">Gestão do Turismo</option>
                    <option value="4">Sistemas de Informação</option>
                </select>
            </div>
            <div class="buttons">
                <button type="submit" class="btn btn-primary mb-2" id="btn-save">Salvar Registro</button>
                <button type="reset" class="btn btn-light mb-2" id="btn-reset">Cancelar</button>
            </div>
          </form>


    </div>
    <!-- MODAIS -->
    <div class="modal fade" id="modalAddRecurso" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Adicionar Recurso à Sala</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <label for="nome-recurso">Recurso: </label>
                       <input type="text" id="nome-recurso" name="nome-recurso">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" id="close-modal" data-dismiss="modal">Fechar</button>
                  <button type="button" id="submit-recurso" onclick="addRecurso()" class="btn btn-primary">Inserir Recurso</button>
                </div>
              </div>
            </div>
          </div>
    <!-- FIM MODAIS -->
    <div class="barra">Desenvolvido por Fábrica de Software CEFET-RJ</div>
</body>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="bootstrap/js/bootstrap.js"></script>
<script>
  var qtdRecursos;
function addRecurso(){
    pegarqtd();
    var name_recurso = document.getElementById("nome-recurso").value;
    var col;
    if(qtdRecursos < 6){
      col = document.getElementById("col1");
    }
    else{
      if(qtdRecursos < 12){
        col = document.getElementById("col2");
      }
      else{
        if(qtdRecursos < 18){
          col = document.getElementById("col3");
        }
        else{
          col = document.getElementById("col4");
        }
      }
    }
    var subName = name_recurso.substring(0, 5);
    col.innerHTML += '<div class="chiller_cb"><input id="check-'+subName+'" type="checkbox"><label for="check-'+subName+'">'+name_recurso+'</label><span></span></div>';
    // alert("Recurso Adicionado com Sucesso !");
    document.getElementById("close-modal").click();               
}

  
    function pegarqtd(){
      var qtd = $(".chiller_cb");
      qtdRecursos = qtd.length;
      console.log(qtd.length);
    }
</script>
</html>